/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/projects/projects.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.projects_header__xBwNG {
    width: 876px;
    height: 184px;

    background-image: url('/images/profileHeaderDesktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Project Information */
.projects_title__qiES_ {
    width: 50rem;
    height: 5rem;
    margin-bottom: 0.5rem;

    background-color: #404040;
    color: white;
    font-size: 2.5em;
}

.projects_roleDur___ezfF {
    width: 50rem;
    height: 4rem;
    margin-bottom: 1.5rem;

    background-color: #395D47;
    color: white;
    font-size: 1.75em;
}

.projects_descrip__dsJht {
    width: 50rem;
    height: 35rem;

    background-color: #F1F7F4;
    font-size: 1.25em;
}

/* Project Tab */
.projects_tab__WoCsW {
    width: 20rem;
    height: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: #395D47;
    color: white;
    font-size: 2em;
}

.projects_tabStripe__e0GBM {
    width: 20rem;
    height: 1.5rem;

    background-color: #69A882;
}
