/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/projects/projects.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.projects_header__xBwNG {
    width: 876px;
    height: 184px;

    background-image: url('/images/profileHeaderDesktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}
