/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/projects/projects.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* Background */
.projects_bgPolygon__VwgFs {
    position: absolute;
    right: 0;
    z-index: -1;
    pointer-events: none;

    width: 75vw;
    height: 100vh;
    background-color: white;
    -webkit-clip-path: polygon(
        100% 0,
        30% 0,
        0 100%,
        100% 100%
    );
            clip-path: polygon(
        100% 0,
        30% 0,
        0 100%,
        100% 100%
    );
}

/* Project List */
#projects_projectsList__HNtil {
    height: 85vh;
    padding-right: 1rem;

    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-color: #FFFFFF #395D47;
    scrollbar-width: auto;

    background-color: #8f8f8f8c;
}

/* Sorting/Filtering */
.projects_btnGroup__IpxF_ button {
    width: 15rem;

    background-color: #F1F7F4;
    color: #404040;
    border: none;
    border-radius: 2px;
}

.projects_btnGroup__IpxF_ button:hover {
    background-color: #d1d3d2;
}

.projects_btnGroup__IpxF_ button:active {
    background-color: #d1d3d2;
}

.projects_btnGroup__IpxF_ button:focus {
    background-color: #d1d3d2;
}

.projects_btnGroup__IpxF_ ul {
    width: 100%;
    background-color: #F1F7F4;

    border: none;
    border-radius: 2px;
}

#projects_sortBy__QdNRJ {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/* Project Information */
#projects_projectInfo__JGji1 {
    width: 65vw;
    margin-top: 3rem;

    -webkit-clip-path: polygon(
        100% 0,
        25% 0,
        0 100%,
        100% 100%
    );

            clip-path: polygon(
        100% 0,
        25% 0,
        0 100%,
        100% 100%
    );
}

#projects_projectInfoBuffer__LImfr {
    width: 18.5vw;
    height: 74vh;
    margin-top: 3rem;
    float: left;

    /* background-color: aqua; */
    -webkit-clip-path: polygon(
        100% 0,
        5% 100%,
        0 0
    );
            clip-path: polygon(
        100% 0,
        5% 100%,
        0 0
    );
    shape-outside: polygon(
        100% 0,
        5% 100%,
        0 0
    );

    shape-margin: 0;
}

.projects_title__qiES_ {
    width: 100%;
    height: 7rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;

    background-color: #404040;
    color: white;
    font-size: 3.5em;
}

.projects_title__qiES_ a {
    color: white;
    text-decoration: none;
}

.projects_roleDur___ezfF {
    width: 100%;
    height: 5rem;
    padding-right: 3rem;
    margin-bottom: 1.5rem;

    background-color: #395D47;
    color: white;
    font-size: 2.5em;
}

.projects_roleDur___ezfF p {
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: auto;
}

#projects_roleDurFlex__bkc5v {
    position: relative;
    left: -7rem;
}

.projects_descrip__dsJht {
    width: 100%;
    height: 55vh;
    padding: 3rem;
    padding-right: 0;

    /* overflow-x: hidden;
    overflow-y: scroll; */

    overflow: clip;

    background-color: #F1F7F4;
    font-size: 1.25em;
}

.projects_descrip__dsJht ul {
    list-style-position: inside;
    /* direction: rtl; */
}

/* Project Tab */
.projects_tab__WoCsW {
    width: 25rem;
    height: 8rem;
    padding: 0;
    margin-bottom: 0.5rem;

    border-radius: 2px;
    border-bottom-left-radius: 0;

    background-color: #395D47;
    color: white;
    font-size: 2em;
    text-align: left;

    border: none;
}

.projects_tab__WoCsW p {
    padding-left: 1rem;
    pointer-events: none;
}

.projects_tab__WoCsW:active {
    box-shadow: -15px -15px #EFEFEF;
    background-color: white;
    color: #404040;
}

.projects_tabName__UsI5g {
    margin-bottom: 0.2rem;
    padding: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 0.75rem;

    pointer-events: none;
}

.projects_tabStripe__e0GBM {
    width: 100%;
    height: 2rem;

    background-color: #69A882;

    pointer-events: none;
}

.projects_tab__WoCsW:active .projects_tabStripe__e0GBM {
    background-color: #404040;
}

.projects_taskList__QcUZj {
    text-wrap: wrap;
}
