@font-face {
    font-family: pixelmania;
    src: url("pixelmania.ttf");
}

.fullHeight {
    height: 100%;
}

#gameStartOverlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: pixelmania;
    color: black;
}

#gameStartHeader {
    margin-bottom: 2rem;
}

#content {
    margin: 1rem;
}

#carouselExampleIndicators {
    width: 50%;
    height: 50%;
    margin: auto;
}