@font-face {
    font-family: pixelmania;
    src: url("pixelmania.ttf");
}

.pixelmania {
    font-family: pixelmania;
}

.fullHeight {
    height: 100%;
}

.center {
    margin: auto;
}

#gameStartOverlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

#gameStartHeader {
    margin-bottom: 2rem;
}

#characterDisplay {
    width: auto;
    height: 17.5rem;

    position: absolute;
    bottom: 3rem;
    left: 25%;
}

#platform {
    width: 15rem;
    height: 2.5rem;
    background-color: gainsboro;
}

#regStatBlock {
    width: 20rem;
    height: 30rem;
    background-color: aliceblue;
    border: gray solid 3px;

    position: absolute;
    left: 45%;
}

#speechBubbleContainer {
    position: absolute;
    bottom: 20rem;
    left: 35%;

    width: 200px;
    height: 104px;
    background-image: url("/imgs/SpeechBubble.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#speechBubbleText {
    position: relative;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

/* Original Idea */
#content {
    margin: 1rem;
}

#carouselExampleIndicators {
    width: 50%;
    height: 50%;
    margin: auto;
}