@font-face {
  font-family: pixelmania;
  src: url("pixelmania.ttf");
}

.pixelmania {
  font-family: pixelmania;
}

@font-face {
  font-family: depixelklein;
  src: url("depixelklein.ttf");
}

.depixelklein {
  font-family: depixelklein;
}

li::marker {
  content: '- ';
  font-family: depixelklein;
  font-size: 1.2em;
}

/* Padding, Margins, Spacing */
.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.plr-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.plr-05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.plr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.fullHeight {
  height: 100%;
}

.position {
  position: absolute;
}

.center {
  margin: auto;
}

.center-pad {
  padding: auto;
}

.white {
  color: white;
}

#gameStartOverlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

#gameStartHeader {
  margin-bottom: 2rem;
}

#regContainer {
  position: absolute;
  left: 5%;
}

.regUI {
  position: absolute;
  width: 400px;
  height: 653px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  font-size: 14px;

  visibility: hidden;
}

.regUI .butt {
  font-size: 12px;
  color: green;
}

#header {
  color: white;
  margin-top: 3px;
  margin-left: 55px;
}

/* @container (max-width: 375px) {
  .regUI p {
    font-size: 1vw;
  }
} */

/* .regUI .row {
  font-size: 1vw;
} */

#charStatBlock {
  background-image: url("/imgs/CharProf.png");
}

#inventory {
  background-image: url("/imgs/Inventory.png");
}

#skills {
  background-image: url("/imgs/Skills.png");
}

#projects {
  width: 790px;
  height: 653px;

  background-image: url("/imgs/Projects.png");
}

#projectsContainer {
  margin-left: 0;
  margin-right: 0;
}

#scrollable {
  width: auto;
  height: 174px;
  overflow: auto;
}

#speechBubble {
  position: absolute;
  bottom: 20rem;

  width: 372px;
  height: 188px;
  background-image: url("/imgs/SpeechBubble.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  visibility: hidden;
}

#speechBubbleContainer {
  position: relative;
  margin: auto;
  width: 300px;
  height: 100px;
}

#speechBubbleText {
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

#characterDisplay {
  width: auto;
  height: 17.5rem;

  position: absolute;
  bottom: 3rem;

  visibility: hidden;
}

#adelie {
  position: absolute;
  bottom: 0.75rem;
  right: 9.5rem;
  transform: scaleX(-1);
}

#littleBlue {
  position: absolute;
  bottom: 1rem;
  right: 5.5rem;
  transform: scaleX(-1);
}

.butt {
  width: 60px;
  height: 24px;

  position: absolute;

  background-image: url("/imgs/Tab.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-color: transparent;

  border: 0;
}

#button-row {
  width: 356px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.inv-but {
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;

  background-color: transparent;

  border: 0;
}

#linkedin-but {
  width: 54px;
  height: 54px;
  background-image: url("/imgs/LinkedIn.png");
}

#gmail-but {
  width: 54px;
  height: 40px;
  background-image: url("/imgs/Gmail.png");
}

#github-but {
  width: 63px;
  height: 62px;
  background-image: url("/imgs/GitHub.png");
}

#itch-but {
  width: 54px;
  height: 54px;
  background-image: url("/imgs/Itch.png");
}

#gdd-but {
  width: 54px;
  height: 55px;
  background-image: url("/imgs/GDD.png");
}

#projects-dropdown {
  position: absolute;
  margin-top: 88px;
  margin-left: 60px;
  z-index: 1;
}

#projects-dropdown-but {
  width: 688px;
  height: 18px;

  background-image: url("/imgs/Dropdown.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-color: transparent;

  border: 0;
}

.dropdown-toggle::after {
  content: none;
}

.hover {
  position: absolute;
  width: 240px;
  height: 119px;
  background-image: url("/imgs/Hover.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  pointer-events: none;
}

.dropdown-menu {
  font-size: 12px;
}

.dropdown-menu li {
  list-style-type: none;
}

.dropdown-item {
  width: 692px;
  height: 19px;
  background-image: url("/imgs/Games.png");
}
