/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/profile/profile.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
/* -------------------- Background -------------------- */
#profile_bgDecal__zIX44 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: -1;

    background-image: url('/images/profileBgDecalMobile.png');
    background-repeat: no-repeat;
    background-size: cover;

    pointer-events: none;
}

.profile_header__aM6VL {
    width: 100vw;
    height: 5rem;

    background-image: url('/images/profileHeaderDesktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------- Media -------------------- */
#profile_profilePic__9dlKF {
    width: 9rem;
    height: 12rem;
    margin: auto;

    background-color: white;
}

/* -------------------- Textboxes -------------------- */
.profile_textbox__WpS_b {
    margin-top: 25px;
    margin-right: 25px;

    background-color: white;
}

#profile_name__tb9Rx {
    width: 180px;
    height: 45px;
    margin-left: auto;
    margin-right:auto;

    background-color: #404040;
    color: white;
    font-size: 25px;
}

#profile_position__v890W {
    width: 180px;
    height: 45px;
    margin-left: auto;
    margin-right:auto;

    background-color: #69A882;
    color: white;
    font-size: 25px;
}

#profile_descrip__KTqQw {
    width: 20rem;
    height: 12.5rem;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.25em;
}

#profile_degrees__PmL6x {
    width: 20rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.25em;
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* -------------------- Background/Headers -------------------- */
    #profile_bgDecal__zIX44 {
        position: absolute;
        z-index: -1;
    
        background-image: url('/images/profileBgDecalDesktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    
        pointer-events: none;
    }

    .profile_header__aM6VL {
        width: 876px;
        height: 184px;
    }

    /* -------------------- Media -------------------- */
    #profile_profilePic__9dlKF {
        width: 500px;
        height: 750px;
    
        background-color: white;
    }

    /* -------------------- Textboxes -------------------- */
    #profile_name__tb9Rx {
        width: 75rem;
        height: 5rem;
        padding-left: 3rem;
        margin-left: 2rem;
        margin-right: None;
    
        font-size: 2em;
    }
    
    #profile_position__v890W {
        width: 75rem;
        height: 5rem;
        padding-left: 3rem;
        margin-left: 2rem;
        margin-right: None;
    
        font-size: 2em;
    }

    #profile_descrip__KTqQw {
        width: 50rem;
        height: 15rem;
        margin-top: 3rem;
        margin-left: 2rem;

        font-size: 1.75em;
    }

    #profile_degrees__PmL6x {
        width: 50rem;
        height: 10rem;
        margin-top: 2rem;
        margin-left: 2rem;

        font-size: 1.75em;
    }
}
