/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/profile/profile.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
#profile_content__flQFt {
    width: 85vw;
    margin: 7.5vw;
    margin-top: 4rem;
}

#profile_profilePic__9dlKF {
    /* shape */
    width: 150px;
    height: 200px;

    /* aesthetic */
    background-color: white;
}

.profile_header__aM6VL {
    width: 438px;
    height: 92px;

    background-image: url('/images/profileHeaderDesktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#profile_name__tb9Rx {
    /* shape */
    width: 180px;
    height: 45px;

    /* aesthetic */
    background-color: #404040;
    color: white;
    font-size: 25px;
}

#profile_position__v890W {
    /* shape */
    width: 180px;
    height: 45px;

    /* aesthetic */
    background-color: #69A882;
    color: white;
    font-size: 25px;
}

.profile_textbox__WpS_b {
    /* shape */

    /* aesthetic */
    background-color: white;

    /* spacing */
    margin-top: 25px;
    margin-right: 25px;
}

#profile_bgDecal__zIX44 {
    /* shape */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;

    /* aesthetic */
    background-image: url('/images/profileBgDecalMobile.png');
    background-repeat: no-repeat;
    background-size: cover;

    pointer-events: none;
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #profile_bgDecal__zIX44 {
        /* shape */
        position: absolute;
        z-index: -1;
    
        /* aesthetic */
        background-image: url('/images/profileBgDecalDesktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    
        pointer-events: none;
    }

    #profile_mainRow__Gj_VI {
        margin-top: 10rem;
    }

    #profile_profilePic__9dlKF {
        /* shape */
        width: 500px;
        height: 750px;
    
        /* aesthetic */
        background-color: white;
    }

    .profile_header__aM6VL {
        width: 876px;
        height: 184px;
    }
}
