/* Project List */
#projectsList {
    height: 85.5vh;

    overflow-x: hidden;
    overflow-y: auto;
}

/* Project Information */
.title {
    width: 50rem;
    height: 5rem;
    margin-bottom: 0.5rem;

    background-color: #404040;
    color: white;
    font-size: 2.5em;
}

.roleDur {
    width: 50rem;
    height: 4rem;
    margin-bottom: 1.5rem;

    background-color: #395D47;
    color: white;
    font-size: 1.75em;
}

.descrip {
    width: 50rem;
    height: 35rem;

    background-color: #F1F7F4;
    font-size: 1.25em;
}

/* Project Tab */
.tab {
    width: 25rem;
    height: 8rem;
    padding: 0;
    margin-bottom: 0.5rem;

    border-radius: 2px;
    border-bottom-left-radius: 0;

    background-color: #395D47;
    color: white;
    font-size: 2em;
    text-align: left;
}

.tabName {
    margin-bottom: 0.2rem;
    padding: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 0.75rem;
}

.tabStripe {
    width: 100%;
    height: 2rem;

    background-color: #69A882;
}