.mainButton {
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;

    color: white;
    background-color: #404040;
    border: None;
    box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
}

.mainButton:hover {
    background-color: #F1F7F4;
    color: #395D47;
}

.mainButtonName {
    height: 3rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem;

    font-size: 3rem;
}

.mainButtonDescrip {
    padding: 0;
    margin: 0;

    font-size: 1.25rem;
}

#mainButtonGroup {
    height: 80vh;
    padding-top: 3rem;
}

#whiteBg {
    width: 100vw;
    height: 20vh;

    background-color: white;
}

/* Medium Breakpoint */
@media (max-width: 768px) {
    .mainButton {
        width: 70vw;
        padding: 2rem;
    }
}