#content {
    width: 85vw;
    margin: 7.5vw;
    margin-top: 4rem;
}

#profilePic {
    /* shape */
    width: 150px;
    height: 200px;

    /* aesthetic */
    background-color: white;
}

.header {
    width: 438px;
    height: 92px;

    background-image: url('/images/profileHeaderDesktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#name {
    /* shape */
    width: 180px;
    height: 45px;

    /* aesthetic */
    background-color: #404040;
    color: white;
    font-size: 25px;
}

#position {
    /* shape */
    width: 180px;
    height: 45px;

    /* aesthetic */
    background-color: #69A882;
    color: white;
    font-size: 25px;
}

.textbox {
    /* shape */

    /* aesthetic */
    background-color: white;

    /* spacing */
    margin-top: 25px;
    margin-right: 25px;
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #bgDecal {
        /* shape */
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    
        /* aesthetic */
        background-image: url('/images/profileBgDecalDesktop.png');
        background-repeat: no-repeat;
        background-size: cover;
    
        pointer-events: none;
    }

    #mainRow {
        margin-top: 10rem;
    }

    #profilePic {
        /* shape */
        width: 500px;
        height: 750px;
    
        /* aesthetic */
        background-color: white;
    }

    .header {
        width: 876px;
        height: 184px;
    }
}