#bgPolygon {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;

    background-color: white;
    clip-path: polygon(
        0 0,
        42.5% 0,
        42.5% 100%,
        0 100%
    );
}

#bgPolygon2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;

    background-color: #9CF4C1;
    clip-path: polygon(
        39% 0,
        40.5% 0,
        40.5% 100%,
        39% 100%
    );
}

#bgPolygon3 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;

    background-color: #9CF4C1;
    clip-path: polygon(
        41.5% 0,
        42% 0,
        42% 100%,
        41.5% 100%
    );
}

#categoryContainer {
    width: 32.5vw;
    margin-top: 3rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.category {
    width: 30vw;
    margin-bottom: 2rem;

    background-color: #F1F7F4;
    overflow: hidden;
}

.categoryHeader {
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: #404040;
    color: white;
    font-size: 2em;
}

.categoryBody {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    color: #395D47;
    font-size: 1.2em;
}

.categoryBody ul {
    margin-bottom: 0;
}

#gddText {
    width: 90%;
    padding: 0.5rem;
    padding-top: 1rem;

    background-color: white;
    border-radius: 0.2rem;
}

#content2 {
    /* width: 35vw; */
    width: 45vw;
    height: 100%;
    padding: 1rem;

    background-color: aliceblue;
    border-radius: 0.25rem;
}

@media (min-height: 1080px) {
    .categoryHeader {
        padding-top: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        font-size: 2.75em;
    }
    
    .categoryBody {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .categoryBody li {
        font-size: 1.5em;
    }

    #categoryContainer {
        margin-top: 7.5vh;
    }
}