/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/skills/skills.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
#skills_bgPolygon__XVxxM {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;

    background-color: white;
    -webkit-clip-path: polygon(
        0 0,
        42.5% 0,
        42.5% 100%,
        0 100%
    );
            clip-path: polygon(
        0 0,
        42.5% 0,
        42.5% 100%,
        0 100%
    );
}

#skills_bgPolygon2__EpFPF {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;

    background-color: #9CF4C1;
    -webkit-clip-path: polygon(
        39% 0,
        40.5% 0,
        40.5% 100%,
        39% 100%
    );
            clip-path: polygon(
        39% 0,
        40.5% 0,
        40.5% 100%,
        39% 100%
    );
}

#skills_bgPolygon3__S8NUk {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;

    background-color: #9CF4C1;
    -webkit-clip-path: polygon(
        41.5% 0,
        42% 0,
        42% 100%,
        41.5% 100%
    );
            clip-path: polygon(
        41.5% 0,
        42% 0,
        42% 100%,
        41.5% 100%
    );
}

#skills_categoryContainer__pXpAp {
    width: 32.5vw;
    margin-top: 3rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.skills_category__5Wd8U {
    width: 30vw;
    margin-bottom: 2rem;

    background-color: #F1F7F4;
    overflow: hidden;
}

.skills_categoryHeader__xMPs1 {
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: #404040;
    color: white;
    font-size: 2em;
}

.skills_categoryBody__MoprN {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    color: #395D47;
    font-size: 1.2em;
}

.skills_categoryBody__MoprN ul {
    margin-bottom: 0;
}

#skills_gddText__o20AO {
    width: 90%;
    padding: 0.5rem;
    padding-top: 1rem;

    background-color: white;
    border-radius: 0.2rem;
}

#skills_content2__WnVWb {
    /* width: 35vw; */
    width: 45vw;
    height: 100%;
    padding: 1rem;

    background-color: aliceblue;
    border-radius: 0.25rem;
}

@media (min-height: 1080px) {
    .skills_categoryHeader__xMPs1 {
        padding-top: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        font-size: 2.75em;
    }
    
    .skills_categoryBody__MoprN {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .skills_categoryBody__MoprN li {
        font-size: 1.5em;
    }

    #skills_categoryContainer__pXpAp {
        margin-top: 7.5vh;
    }
}
