/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/skills/skills.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
#skills_bgPolygon__XVxxM {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;

    background-color: white;
    -webkit-clip-path: polygon(
        0 0,
        40% 0,
        40% 100%,
        0 100%
    );
            clip-path: polygon(
        0 0,
        40% 0,
        40% 100%,
        0 100%
    );
}

#skills_content__iOaI5 {
    margin-top: 5rem;
}

#skills_categoryContainer__pXpAp {
    width: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.skills_category__5Wd8U {
    width: 30vw;
    height: 20vh;
    margin-bottom: 2rem;

    background-color: #F1F7F4;
}

.skills_categoryHeader__xMPs1 {
    background-color: #404040;
    color: white;
}

.skills_categoryHeader__xMPs1 p {
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    font-size: 2em;
}

.skills_categoryBody__MoprN {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;

    color: #395D47;
    font-size: 1.8em;
}

#skills_correlationContainer__Jo0Lz {
    margin-left: auto;
    margin-right: auto;
}

#skills_correlatedImg__ZSOou {
    width: 40vw;
    height: 40vh;
    margin-bottom: 2rem;

    background-color: #F1F7F4;
}

#skills_correlatedDescription__4a914 {
    width: 40vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;

    background-color: #F1F7F4;
}
