/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/mainMenu.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.mainMenu_mainButton__ysIrf {
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;

    color: white;
    background-color: #404040;
    border: None;
    box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
}

.mainMenu_mainButton__ysIrf:hover {
    background-color: #F1F7F4;
    color: #395D47;
}

.mainMenu_mainButtonName___yY1C {
    height: 3rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem;

    font-size: 3rem;
}

.mainMenu_mainButtonDescrip__6ymuA {
    padding: 0;
    margin: 0;

    font-size: 1.25rem;
}

#mainMenu_mainButtonGroup__K3aoB {
    height: 80vh;
    padding-top: 3rem;
}

#mainMenu_whiteBg__rQHLn {
    width: 100vw;
    height: 20vh;

    background-color: white;
}

/* Medium Breakpoint */
@media (max-width: 768px) {
    .mainMenu_mainButton__ysIrf {
        width: 70vw;
        padding: 2rem;
    }
}
