/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/mainMenu.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.mainMenu_mainButton__ysIrf {
    /* standard */
    /* aesthetic */
    color: white;
    background-color: #404040;
    border: None;

    /* edits */
    /* shape */
    width: 80vw;
    height: 13vh;
    /* aesthetic */
    box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
    /* spacing */
    margin: 0.8rem;
}

.mainMenu_mainButton__ysIrf:hover {
    /* aesthetic */
    background-color: #F1F7F4;
    color: #395D47;
}

.mainMenu_mainButtonName___yY1C {
    /* standard */
    /* spacing */
    padding: 0;
    margin: 0;

    /* edits */
    /* shape */
    height: 3rem;
    /* text */
    font-size: 3rem;
    /* spacing */
    margin-bottom: 0.25rem;
}

.mainMenu_mainButtonDescrip__6ymuA {
    /* standard */
    /* spacing */
    padding: 0;
    margin: 0;

    /* edits */
    /* text */
    font-size: 1.25rem;
}

#mainMenu_mainButtonGroup__K3aoB {
    /* spacing */
    padding-top: 3rem;
}

#mainMenu_whiteBg__rQHLn {
    /* standard */
    /* aesthetic */
    background-color: white;

    /* edits */
    /* shape */
    height: 25vh;
}

#mainMenu_pic__tMN8H {
    /* standard */
    /* shape */
    position: fixed;
    z-index: 1;
    /* interactivity */
    pointer-events: none;

    /* edits */
    /* shape */
    bottom: 2rem;
    width: 374.4px;
    height: 369.6px;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .mainMenu_mainButton__ysIrf {
        /* shape */
        width: 80vw;
        height: 13vh;
        /* aesthetic */
        box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
        /* spacing */
        margin: 0.8rem;
    }

    .mainMenu_mainButtonName___yY1C {
        /* shape */
        height: 3rem;
        /* text */
        font-size: 3rem;
        /* spacing */
        margin-bottom: 0.25rem;
    }

    .mainMenu_mainButtonDescrip__6ymuA {
        /* text */
        font-size: 1.25rem;
    }
    
    #mainMenu_mainButtonGroup__K3aoB {
        /* spacing */
        padding-top: 2rem;
    }

    #mainMenu_whiteBg__rQHLn {
        /* shape */
        height: 25vh;
    }

    #mainMenu_pic__tMN8H {
        /* shape */
        bottom: 4rem;
        width: 526.5px;
        height: 519.75px;
    }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mainMenu_mainButton__ysIrf {
        /* shape */
        width: 100%;
        height: 50vh;
        /* aesthetic */
        box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
    }

    .mainMenu_mainButtonName___yY1C {
        /* shape */
        height: 4rem;
        /* text */
        font-size: 4rem;
        /* spacing */
        margin-bottom: 1.25rem;
    }

    .mainMenu_mainButtonDescrip__6ymuA {
        /* text */
        font-size: 1.25rem;
    }

    #mainMenu_mainButtonGroup__K3aoB {
        /* spacing */
        padding-top: 15vh;
    }

    #mainMenu_whiteBg__rQHLn {
        /* shape */
        height: 20vh;
    }

    #mainMenu_pic__tMN8H {
        /* shape */
        bottom: 6rem;
        max-width: 624px;
        max-height: 616px;
        width: 624px;
        height: 616px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .mainMenu_mainButtonName___yY1C {
        /* shape */
        height: 5rem;
        /* text */
        font-size: 5rem;
        /* spacing */
        margin-bottom: 1.5rem;
    }

    .mainMenu_mainButtonDescrip__6ymuA {
        /* text */
        font-size: 1.5rem;
    }

    #mainMenu_mainButtonGroup__K3aoB {
        /* spacing */
        padding-top: 15vh;
    }
}
